:root {
  --background-color: #f9fafb;
  --blue-link-color: #2563eb;
  --blue-darker-color: #1d4ed8;
  --header-color: #1f2937;
  --light-grey-color: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: #333;
}

h1,
h2 {
  color: var(--header-color);
}

a {
  color: var(--blue-link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--blue-link-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: var(--blue-darker-color);
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  background-color: var(--blue-darker-color);
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.navbar a {
  color: var(--light-grey-color);
}

ul li {
  list-style: none;
}
